/* Browser Compatibility */
.browsehappy {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000000;
}
.browsehappy p {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* Browser Compatibility - END */
/* App Loading */
.app-loading {
  position: fixed ;
}
.app-loading .animated-container {
  background-color: #333333 ;
  bottom: 0px ;
  left: 0px ;
  opacity: 1.0 ;
  position: fixed ;
  right: 0px ;
  top: 0px ;
  z-index: 999999 ;
  /* Used to initialize the ng-leave animation state. */
  /* Used to set the end properties of the ng-leave animation state. */
}
.app-loading .animated-container.ng-leave {
  opacity: 1.0 ;
  transition: all linear 200ms ;
  -webkit-transition: all linear 200ms ;
}
.app-loading .animated-container.ng-leave-active {
  opacity: 0 ;
}
.app-loading .messaging {
  color: #FFFFFF ;
  font-family: monospace ;
  left: 0px ;
  margin-top: -37px;
  position: absolute ;
  right: 0px ;
  text-align: center ;
  top: 50% ;
}
.app-loading h1 {
  font-size: 26px ;
  line-height: 35px ;
  margin: 0px 0px 20px 0px ;
}
.app-loading p {
  font-size: 18px ;
  line-height: 14px ;
  margin: 0px 0px 0px 0px ;
}
/* App Loading - END */
/* Main Layout */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* Main Layout - END */
/* Image Feed */
.image-feed {
  /*padding: 20px;*/
}
.image-feed md-grid-tile {
  background: #E0E0E0;
  overflow: hidden;
}
.image-feed md-grid-tile:hover {
  background: #BDBDBD;
  cursor: pointer;
}
.image-feed md-grid-tile:hover md-grid-tile-footer {
  top: initial;
}
.image-feed md-grid-tile figure {
  padding: 20px;
}
.image-feed .md-tile-image {
  max-height: 100%;
  max-width: 100%;
}
.image-feed md-grid-tile-footer {
  top: 100%;
  transition: 0.3s ease-in-out all;
}
/* Image Feed - END */
